<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Precorder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9EE9EC31E1B692000E17E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9EE9ED71E1B692000E17E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9EE9EE21E1B692000E17E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
